@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
    font-family: 'mono';
    src: url('/fonts/mono.ttf');
}

@font-face {
    font-family: 'logo';
    src: url('/fonts/logo.otf');
}

@theme {
    --color-background: #fff;

    --font-mono2: 'mono', monospace;
    --font-logo: 'logo', sans-serif;
}

@layer base {
    @variant dark {
        --color-background: #000;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #2c2c2c;
    border-radius: 4px;
}
